@import "tailwindcss";

@theme {
  /* Colors */
  --color-flashWhite: #f5f5f5;
  --color-eerieBlack: #18181b;
  --color-batleGray: #858585;
  --color-french: #b5b5b5;
  --color-taupe: #4a4a4a;
  --color-jetLight: #27272a;
  --color-timberWolf: #d4d4d8;
  --color-night: #09090b;

  /* Fonts */
  --font-primary: var(--font-inter), ui-sans-serif, system-ui;
  --font-secondary: var(--font-outfit), ui-sans-serif, system-ui;

  /* Overrides */
  --font-sans: var(--font-primary);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
